In [1]:
r = float(input("Mời nhập vào bán kính đường tròn: "))
print(r)

3.0

In [6]:
Chuvi = 2*r*3.14

In [7]:
print(Chuvi)

18.84

In [8]:
print("chu vi hinh tron la ",Chuvi)

chu vi hinh tron la  18.84

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('E:/Python/Loto/loto.xls')
df

,69855,41809,04144,47133,68113,67046,46302,22116,89807,85082,15457,34488
0,31012.0,40400.0,52726,25702.0,94558.0,96749.0,26550.0,43201.0,38809.0,54691.0,65460.0,11233.0
1,3953.0,98256.0,41355,61937.0,48476.0,26575.0,35710.0,12631.0,50604.0,56277.0,76684.0,81744.0
2,17236.0,63414.0,55928,27773.0,68735.0,33643.0,68410.0,79188.0,42991.0,73574.0,4602.0,37984.0
3,15170.0,92524.0,86110,18679.0,51816.0,23644.0,80838.0,6255.0,73098.0,3658.0,37700.0,49131.0
4,65651.0,61884.0,24464,84477.0,72286.0,51907.0,65097.0,41343.0,86653.0,15837.0,37452.0,238.0
...,...,...,...,...,...,...,...,...,...,...,...,...
476,96334.0,94939.0,51674,37311.0,58255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,27739.0,45613.0,81040,78123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,2489.0,48219.0,98441,88945.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,66332.0,85543.0,33000,73309.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,81223.0,77038.0,72191,45622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_matrix = np.int_(df)

In [5]:
print(df_matrix[-1])

[      81223       77038       72191       45622 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648]

In [6]:
def checker(d_arr):
    tmp = []
    for i in d_arr:
        if i < 0:
            tmp.append(i)
        else:
            tmp.append(i % 100)
    return tmp

In [8]:
df_matrix = [checker(d) for d in df_matrix]
np.array(df_matrix)

array([[         12,           0,          26, ...,          91,
                 60,          33],
       [         53,          56,          55, ...,          77,
                 84,          44],
       [         36,          14,          28, ...,          74,
                  2,          84],
       ...,
       [         89,          19,          41, ..., -2147483648,
        -2147483648, -2147483648],
       [         32,          43,           0, ..., -2147483648,
        -2147483648, -2147483648],
       [         23,          38,          91, ..., -2147483648,
        -2147483648, -2147483648]])

In [12]:
def get_rows(data, s_row = 0, e_row = 1):
    return data[s_row:e_row]

def data_concate(data):
    concate = np.concatenate(data)
    concate = np.array([num for num in concate if num >= 0])
    return concate

In [13]:
print data_concate(get_rows(data, 0, 31))

SyntaxError: invalid syntax (Temp/ipykernel_2644/1521810101.py, line 1)

In [3]:
def guess_number_input():
    guess_number_raw = input("Guess the number: ")
    if guess_number_raw.isnumeric():
        print("correct!")
    else:
        print("wrong number")

In [4]:
guess_number_input()

correct!

In [5]:
import random


def guess_number_input(valid_numbers):
    guess_number_raw = input("Guess the number: ")
    if guess_number_raw.isnumeric():
        guess_number = int(guess_number_raw)
        if guess_number in valid_numbers:
            return guess_number
        else:
            print("your guess number isn't in valid numbers, please try again!")
            return -1
    else:
        print("wrong number, please try again!")
        return -1